<h2 class="text-center">Sign up</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <%= f.email_field :email%>
          <%= f.text_field :name%>
          <%= f.text_field :address%>

          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password %>

          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

          <%= f.submit "Sign up" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>