<h1>Pins súper dúper bonitos</h1>

<div class="card-columns">
	<%@pin.all.each do |pin|%>
		<div class="card">
		  <% if pin.imagen.attached?%>
		  	<%= image_tag(pin.imagen, class: "card-img-top") %>
		  <% else %>
		  	<%= image_tag(pin.imagen_aleatoria, class: "card-img-top") %>
		  <% end %>
		  <div class="card-body">
		    <h5 class="card-title"><%= pin.titulo %></h5>
		    <p class="card-text"><%= pin.descripcion %></p>
		    <div class="btn-toolbar" role="toolbar">
		    	<% if mostrar_botones(pin.id)%>
		    	<div class="btn-group mr-2" role="group">
			    	<a class="btn btn-outline-success" href= <%= edit_pin_path(pin.id) %> ><i class="fa fa-cog">Editar</i></a>
			    	<a href="#" class="btn btn-outline-danger"><i class="fa fa-trash">Borrar</i></a>
			    </div>
			    <% end %>
			    <div class="btn-group mr-2" role="group">
			    	<% if like?(pin.id) %>
		    			<a class="btn btn-primary" href= <%= dar_like_pin_path(pin.id) %> ><i class="fa fa-thumbs-up"> <%= pin.likes.count %></i></a>
		    		<% else %>
		    			<a class="btn btn-outline-primary" href= <%= dar_like_pin_path(pin.id) %> ><i class="fa fa-thumbs-up"> <%= pin.likes.count %></i></a>
		    		<% end %>
		    	</div>
		    </div>
		  </div>
		</div>
	<% end -%>
</div>

<div>
	<a href= <%= new_pin_path %> , class="btn btn-primary", role="button", aria-pressed="true"> 'Agregar Pin' </a>
</div>