  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href= <%= root_path %> >
      <i class="fas fa-dragon"> Inicio</i>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href= <%= pins_path %> >Pins</a>
      </li>            
      <li>
        <a class="nav-link btn-success text-white" href= <%= new_pin_path %> ><strong>Agrega tu pin</strong></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action=" <%= pins_path %>">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="col md-1"> 
        <% if user_signed_in?%>
          <li class="nav-item dropdown container">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
              <%= image_tag("man.png", size:40, class: "nav-item avatar")%> 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href= <%= edit_user_registration_path %>>Editar usuario</a> 
              <a class="dropdown-item" href= <%= tus_pins_pin_path(current_user) %>>Tus pins</a> 
              <div class="dropdown-divider"></div>
              <%= link_to('Cerrar sesión', destroy_user_session_path, class: "dropdown-item", method: :delete) %>  
            </div>
          </li>        
        <% else %>
            hola
        <% end %>
      </li>      
    </ul>
  </div>
</nav>